<nav id="sidebar">
    <div class="sidebar-header">
        <h3><%= link_to 'Hệ thống Cơ sở dữ liệu đô thị Quốc gia', root_path %></h3>
    </div>

    <ul class="list-unstyled">
        <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">1. Kiến thức cơ bản về máy tính</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li><%= link_to "1.1 Tìm hiểu về máy tính", page_path('mt/mt1') %></li>
                <li><%= link_to "1.2 Hệ điều hành Windows", page_path('mt/mt2') %></li>
            </ul>
        </li>

        <li>
            <a href="#intro" data-toggle="collapse" aria-expanded="false">2. Giới thiệu cơ sở dữ liệu</a>
            <ul class="collapse list-unstyled" id="intro">
                <li><%= link_to "2.1 Định nghĩa cơ sở dữ liệu (Database)", page_path('csdl/csdl1') %></li>
                <li><%= link_to "2.2 Quá trình phát triển CSDL", page_path('csdl/csdl2') %></li>
                <li><%= link_to "2.3 Ưu điểm của CSDL", page_path('csdl/csdl3') %></li>
                <li><%= link_to "2.4 Những vấn đề mà CSDL cần giải quyết", page_path('csdl/csdl4') %></li>
                <li><%= link_to "2.5 Các đối tượng sử dụng csdl", page_path('csdl/csdl5') %></li>
                <li><%= link_to "2.6 Hệ quản trị CSDL", page_path('csdl/csdl6') %></li>
                <li><%= link_to "2.7 Kiến trúc của hệ quản trị CSDL", page_path('csdl/csdl7') %></li>
                <li><%= link_to "2.8 Các ứng dụng của CSDL", page_path("csdl/csdl8") %></li>
            </ul>
        </li>

        <li>
            <a href="#data" data-toggle="collapse" aria-expanded="false">3. Kiến thức thống kê</a>
            <ul class="collapse list-unstyled" id="data">
                <li><%= link_to "3.1 Thống kê là gì", page_path('data/data1') %></li>
                <li><%= link_to "3.2 Chức năng của thống kê", page_path('data/data2') %></a></li>
                <li><%= link_to "3.3 Phương pháp thống kê", page_path("data/data3") %></a></li>
                <li><%= link_to "3.4 Giới thiệu các công cụ thống kê: thống kê bằng excel", page_path('data/data4') %></a></li>
            </ul>
        </li>

        <li>
            <a href="#gis" data-toggle="collapse" aria-expanded="false">4. Kiến thức GIS</a>
            <ul class="collapse list-unstyled" id="gis">
                <li><%= link_to "4.1 Giới thiệu", page_path("gis/gis1") %></li>
                <li><%= link_to "4.2 Các thành phần của GIS", page_path("gis/gis2") %></li>
                <li><%= link_to "4.3 Cách thức làm việc của GIS", page_path("gis/gis3") %></li>
                <li><%= link_to "4.4 Nhiệm vụ của GIS", page_path('gis/gis4') %></li>
                <li><%= link_to "4.5 Dữ liệu cho GIS", page_path("gis/gis5") %></li>
                <li><%= link_to "4.6 Các công nghệ liên quan", page_path("gis/gis6") %></li>
                <li><%= link_to "4.7 Các bài toán ứng dụng cho GIS", page_path("gis/gis7") %></li>
                <li><%= link_to "4.8 Phát triển GIS trong ứng dụng tương lai", page_path("gis/gis8") %></li>
            </ul>
        </li>

        <li>
            <a href="#do" data-toggle="collapse" aria-expanded="false">5. Các phần thực hành</a>
            <ul class="collapse list-unstyled" id="do">
                <li><%= link_to "5.1 Thực hành office và xử lý Excel thống kê", page_path("do/do1") %></li>
                <li><%= link_to "5.2 Thực hành xây dựng cơ sở dữ liệu", page_path("do/do2") %></li>
                <li><%= link_to "5.3 Thực hành để làm quen với GIS", page_path("do/do3") %></li>
            </ul>
        </li>
    </ul>
</nav>
