<!DOCTYPE html>
<html>
  <head>
    <title>Qldt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <%= render "layouts/sidebar" %>
      <div id="content">
        <%= render "layouts/topbar" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
